// Font Family Variables
:root {
  --font-primary: 'Cherry Bomb One', cursive;
  --font-secondary: 'Parkinsans', sans-serif;
  --font-body: 'Inter', sans-serif;
}

// Global Font Applications
body {
  font-family: var(--font-body);
}

h1,
h2 {
  font-family: var(--font-primary);
  font-weight: normal;
  line-height: 1;
}

h3,
h4 {
  font-family: var(--font-secondary);
}


h1 {
  font-size: clamp(2em, 4vw, 4em);
}

h2 {
  font-size: clamp(1.5em, 3vw, 3em);
}
h1,h2{
  &:has(strong){

  }
  strong{
    display: block;
    font-weight: normal;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
.button-group {

  &+h1,
  &+h2,
  &+h3,
  &+h4,
  &+h5,
  &+h6,
  &+p,
  &+blockquote,
  &+.button-group {
    margin-top: 1em;
  }
}


h1,
h2,
h3,
h4 {
  color: var(--color-foreground);

  &:has(strong) {
    font-weight: normal;
  }
}


h2 {
  color: currentColor;
}

p {
  max-width: 60ch
}


ul:not([class]) {
  li:not([class]) {
    padding: var(--space-s);
    padding-left: 0;
    font-size: 1.2em;

    &::before {
      content: "";
      width: var(--space);
      height: var(--space);
      background-color: var(--color-primary);
      display: inline-block;
      border-radius: 50%;
      margin-right: var(--space);
    }
  }
}

ol:not([class]){
  counter-reset: list;
  li:not([class]){
    padding: var(--space-s);
    padding-left: 0;
    font-size: 1.2em;
    counter-increment: list;
    position: relative;

    &::before{
      position: absolute;
      right: 100%
      ;top: 0;
      content: counter(list);
      width: 1.5em;
      height: 1.5em;
      background-color: var(--color-primary);
      display: inline-block;
      border-radius: 50%;
      line-height: 1.5;
      text-align: center;
    }
  }
}


h2+p {
  font-size: 1.2em;
  line-height: 1.6;
}
